body {
    background-color: #F9F9F9;
}

.form-control  {
    background-color: #F9F9F9;
}


.form-group {
    text-align: left !important;
}

label {
    margin-bottom: .25rem;
    text-transform: uppercase;
    /* font-weight: lighter; */
    font-size: small;
}

.history-filter {
    text-transform: none;
}

.h1, h1 {
    padding-bottom: 1rem;
    color: black;
    font-weight: 700;
    /* font-weight: 600; */
}

.navbar .divider-vertical {
    height: floor(@navbar-height - @navbar-margin-bottom);
    margin: floor(@navbar-margin-bottom / 2) 9px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-right: 1px solid #ffffff;
    color: #FFFFFF;
    opacity: 0.5;
}



