{% extends 'jurorsearch/base.html' %}
{% block body_block %}



  <!-- Page Content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        
        <h1 class="mt-5" style="padding-bottom: 2rem;">History</h1>

        <!-- <select class="form-control">
            <option>all users</option>
            <option>starred</option>
        </select> -->

        {% if searches %}
        <div class="row">
            <div class="col-1"></div>
            <!-- <div class="col-1"></div> -->

            <div class="col-10">
                <div class="text-right mb-3">
                    <div class="btn-group btn-group-toggle" style="background-color:white;" data-toggle="buttons">
                        <label class="btn btn-outline-secondary history-filter float-right">
                        <input type="radio" name="options" id="user-toggle-all" onclick="toggleUserFavoritesFalse()" 
                            {% if  user.userdetail.toggle_view_favorites == False %}  checked
                            {% endif %} 
                            > all users
                        </label>
                        <label class="btn btn-outline-secondary history-filter float-right">
                        <input type="radio" name="options" id="user-toggle-favorites" onclick="toggleUserFavoritesTrue()" 
                            {% if  user.userdetail.toggle_view_favorites == True %}  checked
                            {% endif %} 
                            > favorites
                        </label>
                    </div>
                </div>
                
                {% for search in searches %}
                    {% if search.starred == False %}
                    <div class="card mb-3 " id="modal-{{search.search_id}}">
                    {% endif %}
                    {% if search.starred == True %}
                    <div class="card mb-3 star" id="modal-{{search.search_id}}">
                    {% endif %}
                    <!-- <div class="card mb-3 " id="modal-{{search.search_id}}"> -->
                        <div class="card-header">
                                <p class="text-left mb-0 pb-0" style="text-align: center; font-weight:600">
                                    {{ search.result_clean_json.person_full_name }}
                                    {% if search.result_clean_json.age %}
                                    - {{ search.result_clean_json.age}}
                                    {% endif %}
                                <button type="button" class="btn close pull-right" style="margin-top: .09em;" aria-labels="close" onclick="hideModal('modal-' + {{search.search_id}}, {{search.search_id}})">  
                                    <span class="btn-label">
                                        <i class="fas fa-times"></i>
                                    </span>
                                </button>

                                <button type="button" role="button" data-toggle="collapse" href="#collapseExample"
                                class="btn close pull-right mx-3" aria-labels="close" onclick="favoriteModal('favorite-' + {{search.search_id}}, 'modal-' + {{search.search_id}}, {{search.search_id}})" >  
                                    <span class="btn-label">
                                        {% if search.starred == False %}
                                        <i id="favorite-{{search.search_id}}" class="far fa-star fa-sm" ></i>
                                        {% endif %}
                                        {% if search.starred == True %}
                                        <i id="favorite-{{search.search_id}}" class="fas fa-star fa-sm text-primary" ></i>
                                        {% endif %}
                                    </span>
                                </button>
                                </p>
                        </div>
                        <div class="card-body" id="#test-id">
                            <div class="row">
                                {% if search.result_clean_json.job_any == 1 %}
                                <div class="col-3">
                                    <p class="text-left font-weight-light text-uppercase mb-0 mt-1"><small>work</small></p>
                                    <hr class="mt-0 mb-2"/>
                                    <p class="mt-1 mb-1 text-left">
                                    <b>Job:</b>
                                    {% if search.result_clean_json.job_title %}
                                        {{ search.result_clean_json.job_title }}
                                    {% endif %}
                                    {% if search.result_clean_json.job_company_name %}
                                        at {{ search.result_clean_json.job_company_name }}
                                    {% endif %}
                                    </p>
                                    {% if search.result_clean_json.industry %}
                                    <p class="mt-1 mb-1 text-left">
                                    <b>Industry:</b> {{ search.result_clean_json.industry }}
                                    </p>
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if search.result_clean_json.contact_info_length > 0 %}
                                <div class="col-2">
                                    <p class="text-left font-weight-light text-uppercase mb-0 mt-1"><small>contact</small></p>
                                    <hr class="mt-0 mb-2"/>
                                    <p class="mt-1 mb-1 text-left">
                                    {% if search.result_clean_json.phones %}
                                        <b>Phone:</b>
                                        {% for phone in search.result_clean_json.phones %}
                                            {{ phone }}
                                        {% endfor %}
                                    {% endif %}
                                    {% if search.result_clean_json.emails %}
                                        <b>Email:</b>
                                        {% for email in search.result_clean_json.emails %}
                                            {{ email }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if search.result_clean_json.school_name_1 %}
                                    <div class="col-6">
                                        <p class="text-left font-weight-light text-uppercase mb-0 mt-1"><small>education</small></p>
                                        <hr class="mt-0 mb-1"/>
                                            <div class="row">
                                                {% if search.result_clean_json.school_name_1 %}
                                                    <div class="col">
                                                            {% if search.result_clean_json.school_name_1 %}
                                                            <p class="mt-1 mb-1 text-left"><b>School: </b>{{ search.result_clean_json.school_name_1 }}</a></p>
                                                            {% endif %}
                                                            {% if search.result_clean_json.school_start1 %}
                                                            <p class="mt-1 mb-1 text-left"> {{ search.result_clean_json.school_start1 }} - {{ search.result_clean_json.school_stop1 }}</p>
                                                            {% endif %}
                                                            {% if search.result_clean_json.school_degree1 %}
                                                            <p class="mt-1 mb-1 text-left"><b>Degree: </b> {{ search.result_clean_json.school_degree1 }}, {{ search.result_clean_json.school_major1 }}</p>
                                                            {% endif %}
                                                            {% if search.result_clean_json.school_gpa_1 %}
                                                            <p class="mt-1 mb-1 text-left"><b>GPA: </b> {{ search.result_clean_json.school_gpa_1}}</p>
                                                            {% endif %}
                                                    </div>
                                                {% endif %}
                                                {% if search.result_clean_json.school_name_2 %}
                                                    <div class="col">
                                                            {% if search.result_clean_json.school_name_2 %}
                                                            <p class="mt-1 mb-1 text-left"><b>School: </b>{{ search.result_clean_json.school_name_2 }}</a></p>
                                                            {% endif %}
                                                            {% if search.result_clean_json.school_start2 %}
                                                            <p class="mt-1 mb-1 text-left"> {{ search.result_clean_json.school_start2 }} - {{ search.result_clean_json.school_stop2 }}</p>
                                                            {% endif %}
                                                            {% if search.result_clean_json.school_degree2 %}
                                                            <p class="mt-1 mb-1 text-left"><b>Degree: </b> {{ search.result_clean_json.school_degree2 }}, {{ search.result_clean_json.school_major2 }}</p>
                                                            {% endif %}
                                                            {% if search.result_clean_json.school_gpa_2 %}
                                                            <p class="mt-1 mb-1 text-left"><b>GPA:</b> {{ search.result_clean_json.school_gpa_2}}</p>
                                                            {% endif %}
                                                    </div>
                                                {% endif %}
                                                {% if search.result_clean_json.school_name_3 %}
                                                    <div class="col">
                                                            {% if search.result_clean_json.school_name_3 %}
                                                            <p class="mt-1 mb-1 text-left"><b>School: </b>{{ search.result_clean_json.school_name_3 }}</a></p>
                                                            {% endif %}
                                                            {% if search.result_clean_json.school_start3 %}
                                                            <p class="mt-1 mb-1 text-left"> {{ search.result_clean_json.school_start3 }} - {{ search.result_clean_json.school_stop3 }}</p>
                                                            {% endif %}
                                                            {% if search.result_clean_json.school_degree3 %}
                                                            <p class="mt-1 mb-1 text-left"><b>Degree: </b> {{ search.result_clean_json.school_degree3 }}, {{ search.result_clean_json.school_major3 }}</p>
                                                            {% endif %}
                                                            {% if search.result_clean_json.school_gpa_3 %}
                                                            <p class="mt-1 mb-1 text-left"><b>GPA: </b> {{ search.result_clean_json.school_gpa_3}}</p>
                                                            {% endif %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                    </div>
                                {% endif %}
                                {% if search.result_clean_json.social_media_counter > 0 %}
                                <div class="col-1">
                                    <p class="text-left font-weight-light text-uppercase mb-0 mt-1"><small>social</small></p>
                                    <hr class="mt-0 mb-1"/>
                                    <div class="text-left">
                                        {% if search.result_clean_json.facebook_url %}
                                        <a class="btn btn-primary " style="width:75%; margin-bottom:0.25rem;" href="https://www.{{ search.result_clean_json.facebook_url }}" role="button"><i class="fab fa-facebook-f"></i></a>
                                        {% endif %}
                                        {% if search.result_clean_json.linkedin_url %}
                                        <a class="btn btn-primary" style="width:75%; margin-bottom:0.25rem;" href="https://www.{{ search.result_clean_json.linkedin_url }}" role="button"><i class="fab fa-linkedin-in"></i></a>
                                        {% endif %}
                                        {% if search.result_clean_json.twitter_url %}
                                        <a class="btn btn-primary" style="width:75%; margin-bottom:0.25rem;" href="https://www.{{ search.result_clean_json.twitter_url }}" role="button"><i class="fab fa-twitter"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>


                    {% endfor %}
                </div>
                </div>
                <div class="col-1"></div>
                <!-- <div class="col-1"></div> -->
            </div>

        {% endif %}
            <!-- </br> -->
        <!-- <p class="lead">search for people</p> -->
      </div>
    </div>
  </div>
{% endblock %}
{% block js_block %}
<script>


    // $('#usertype-select-box').bootstrapSwitch('state');
    // $('#usertype-select-box').on('switchChange.bootstrapSwitch',function () {
    // var check = $('.bootstrap-switch-on');
    // if (check.length > 0) {
    //     console.log('ON')
    // } else {
    //     console.log('OFF')
    // }
    // });
    


    // $("#usertype-select-box").bootstrapSwitch();
    // onSwitchChange: function(e, state) { 
    //     alert(state);
    // }
    // });

    function hideModal(id,pk) {
        var modal = document.getElementById(id)
        slideUp(modal,300)
        var request = new XMLHttpRequest()
        var url = "/jurorsearch/api/human-hide/" + pk
        request.open("GET", url, true)
        request.setRequestHeader("Content-Type", "application/json")
        request.send();
    }

    function favoriteModal(id,parent_id,pk) {
        var modal = document.getElementById(id)
        modal.classList.toggle("far")
        modal.classList.toggle("fas")
        modal.classList.toggle("text-primary")

        var parent = document.getElementById(parent_id)
        parent.classList.toggle("star")

        // if (parent.classList.contains("star") == false) {
        //     parent.classList.add("d-none")
        // }

        togglefavorite = "{{ user.userdetail.toggle_view_favorites }}"
        console.log(togglefavorite)

        // if (togglefavorite=="True") {
        //     if (parent.classList.contains("star") == false) {
        //         parent.classList.add("d-none")
        //     }
        // }

        // if (togglefavorite==False) {
        //     console.log("false")
        // }

        var request = new XMLHttpRequest()
        var url = "/jurorsearch/api/human-star/" + pk

        request.open("GET", url, true)
        request.setRequestHeader("Content-Type", "application/json")
        request.send();
    }

    function toggleUserDisplay() {
        userType = document.getElementById("usertype-select-box").value
        // console.log(userType)
        if (userType == "starred") {
            cards = document.getElementsByClassName("card")
            for (card of cards) {
                if (card.classList.contains("star") == false) {
                    card.classList.add("d-none")
                }
            } 
        }

        if (userType == "all users") {
            cards = document.getElementsByClassName("card")
            for (card of cards) {
                card.classList.remove("d-none")
            } 
        }
    }

    function toggleUserFavoritesTrue() {
        // hide not starred elements
        cards = document.getElementsByClassName("card")
            for (card of cards) {
                if (card.classList.contains("star") == false) {
                    card.classList.add("d-none")
                }
            } 
        // Set user preferences to favorites only
        var request = new XMLHttpRequest()
        var url = "/jurorsearch/api/toggle-user-favorites-true/"
        request.open("GET", url, true)
        request.setRequestHeader("Content-Type", "application/json")
        request.send();
    }

    function toggleUserFavoritesFalse() {
        // show non-starred users
        cards = document.getElementsByClassName("card")
            for (card of cards) {
                card.classList.remove("d-none")
            } 

        // Set user preferences to favorites only
        console.log("testmessage")
        var request = new XMLHttpRequest()
        var url = "/jurorsearch/api/toggle-user-favorites-false/"
        request.open("GET", url, true)
        request.setRequestHeader("Content-Type", "application/json")
        request.send();
    }



    let slideUp = (target, duration=500) => {
        target.style.transitionProperty = 'height, margin, padding';
        target.style.transitionDuration = duration + 'ms';
        target.style.boxSizing = 'border-box';
        target.style.height = target.offsetHeight + 'px';
        target.offsetHeight;
        target.style.overflow = 'hidden';
        target.style.height = 0;
        target.style.opacity = 0.4;
        target.style.paddingTop = 1;
        target.style.paddingBottom = 0;
        target.style.marginTop = 0;
        target.style.marginBottom = 0;
        window.setTimeout(() => {
            target.style.display = 'none';
            target.style.removeProperty('height');
            target.style.removeProperty('padding-top');
            target.style.removeProperty('padding-bottom');
            target.style.removeProperty('margin-top');
            target.style.removeProperty('margin-bottom');
            target.style.removeProperty('overflow');
            target.style.removeProperty('transition-duration');
            target.style.removeProperty('transition-property');
            //alert("!");
        }, duration);
        }
    

</script>
{% endblock %}

