{% extends 'jurorsearch/base.html' %}
{% block body_block %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5" style="padding-bottom:2em">History</h1>
        {% if searches %}
            {% for search in searches %}
                <div class="card mb-3" id="modal-{{search.search_id}}">
                    <div class="card-header">
                            <p class="text-left mb-0 pb-0" style="text-align: center;">
                                {{ search.result_clean_json.person_full_name }}
                                {% if search.result_clean_json.age %}
                                - {{ search.result_clean_json.age}}
                                {% endif %}
                            <!-- <button type="button" class="btn btn-outline-secondary pull-right"> -->
                            <!-- <div class="button-group" -->
                            <!-- <button type="button" class="btn btn-outline-secondary pull-right" aria-labels="close"> 
                                <span class="btn-label">
                                    <i class="fas fa-times"></i>
                                </span>
                            </button> -->

                            <button type="button" class="btn close pull-right" style="margin-top: .09em;" aria-labels="close" onclick="hideModal('modal-' + {{search.search_id}})">  
                                <span class="btn-label">
                                    <i class="fas fa-times"></i>
                                </span>
                            </button>

                            <button type="button" class="btn close pull-right mx-3" aria-labels="close">  
                                <span class="btn-label">
                                    <i class="far fa-star fa-sm"></i>
                                </span>
                            </button>

                            <!-- <i class="far fa-star"></i> -->

                            </p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% if search.result_clean_json.job_any == 1 %}
                            <div class="col-4">
                                <p class="text-left font-weight-light text-uppercase mb-0 mt-1"><small>work</small></p>
                                <hr class="mt-0 mb-2"/>
                                <p class="mt-1 mb-1 text-left">
                                <b>Job:</b>
                                {% if search.result_clean_json.job_title %}
                                    {{ search.result_clean_json.job_title }}
                                {% endif %}
                                {% if search.result_clean_json.job_company_name %}
                                    at {{ search.result_clean_json.job_company_name }}
                                {% endif %}
                                {% endif %}
                                </p>
                                {% if search.result_clean_json.industry %}
                                <p class="mt-1 mb-1 text-left">
                                <b>Industry:</b> {{ search.result_clean_json.industry }}
                                </p>
                            </div>
                            {% endif %}
                            {% if search.result_clean_json.school_name_1 %}
                                <div class="col-6">
                                    <p class="text-left font-weight-light text-uppercase mb-0 mt-1"><small>education</small></p>
                                    <hr class="mt-0 mb-1"/>
                                        <div class="row">
                                            {% if search.result_clean_json.school_name_1 %}
                                                <div class="col">
                                                        {% if search.result_clean_json.school_name_1 %}
                                                        <p class="mt-1 mb-1 text-left"><b>School: </b>{{ search.result_clean_json.school_name_1 }}</a></p>
                                                        {% endif %}
                                                        {% if search.result_clean_json.school_start1 %}
                                                        <p class="mt-1 mb-1 text-left"> {{ search.result_clean_json.school_start1 }} - {{ search.result_clean_json.school_stop1 }}</p>
                                                        {% endif %}
                                                        {% if search.result_clean_json.school_degree1 %}
                                                        <p class="mt-1 mb-1 text-left"><b>Degree: </b> {{ search.result_clean_json.school_degree1 }}, {{ search.result_clean_json.school_major1 }}</p>
                                                        {% endif %}
                                                        {% if search.result_clean_json.school_gpa_1 %}
                                                        <p class="mt-1 mb-1 text-left"><b>GPA: </b> {{ search.result_clean_json.school_gpa_1}}</p>
                                                        {% endif %}
                                                </div>
                                            {% endif %}
                                            {% if search.result_clean_json.school_name_2 %}
                                                <div class="col">
                                                        {% if search.result_clean_json.school_name_2 %}
                                                        <p class="mt-1 mb-1 text-left"><b>School: </b>{{ search.result_clean_json.school_name_2 }}</a></p>
                                                        {% endif %}
                                                        {% if search.result_clean_json.school_start2 %}
                                                        <p class="mt-1 mb-1 text-left"> {{ search.result_clean_json.school_start2 }} - {{ search.result_clean_json.school_stop2 }}</p>
                                                        {% endif %}
                                                        {% if search.result_clean_json.school_degree2 %}
                                                        <p class="mt-1 mb-1 text-left"><b>Degree: </b> {{ search.result_clean_json.school_degree2 }}, {{ search.result_clean_json.school_major2 }}</p>
                                                        {% endif %}
                                                        {% if search.result_clean_json.school_gpa_2 %}
                                                        <p class="mt-1 mb-1 text-left"><b>GPA:</b> {{ search.result_clean_json.school_gpa_2}}</p>
                                                        {% endif %}
                                                </div>
                                            {% endif %}
                                            {% if search.result_clean_json.school_name_3 %}
                                                <div class="col">
                                                        {% if search.result_clean_json.school_name_3 %}
                                                        <p class="mt-1 mb-1 text-left"><b>School: </b>{{ search.result_clean_json.school_name_3 }}</a></p>
                                                        {% endif %}
                                                        {% if search.result_clean_json.school_start3 %}
                                                        <p class="mt-1 mb-1 text-left"> {{ search.result_clean_json.school_start3 }} - {{ search.result_clean_json.school_stop3 }}</p>
                                                        {% endif %}
                                                        {% if search.result_clean_json.school_degree3 %}
                                                        <p class="mt-1 mb-1 text-left"><b>Degree: </b> {{ search.result_clean_json.school_degree3 }}, {{ search.result_clean_json.school_major3 }}</p>
                                                        {% endif %}
                                                        {% if search.result_clean_json.school_gpa_3 %}
                                                        <p class="mt-1 mb-1 text-left"><b>GPA: </b> {{ search.result_clean_json.school_gpa_3}}</p>
                                                        {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                </div>
                            {% endif %}
                            {% if search.result_clean_json.social_media_counter > 0 %}
                            <div class="col-2">
                                <p class="text-left font-weight-light text-uppercase mb-0 mt-1"><small>social media</small></p>
                                <hr class="mt-0 mb-1"/>
                                <div class="text-left">
                                    {% if search.result_clean_json.facebook_url %}
                                    <a class="btn btn-primary" href="https://www.{{ search.result_clean_json.facebook_url }}" role="button"><i class="fab fa-facebook-f"></i></a>
                                    {% endif %}
                                    {% if search.result_clean_json.linkedin_url %}
                                    <a class="btn btn-primary" href="https://www.{{ search.result_clean_json.linkedin_url }}" role="button"><i class="fab fa-linkedin-in"></i></a>
                                    {% endif %}
                                    {% if search.result_clean_json.twitter_url %}
                                    <a class="btn btn-primary" href="https://www.{{ search.result_clean_json.twitter_url }}" role="button"><i class="fab fa-twitter"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            <!-- </br> -->

            {% endfor %}
        {% endif %}
        <!-- <p class="lead">search for people</p> -->
        <p> search history shows up here </p>
        {% if searches %}
            <ul>
            {% for search in searches %}
                <li>{{ search.result_clean_json.person_full_name }}</li>
            {% endfor %}
            </ul>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}


{% block js_block %}
<script>
    function hideModal(id) {
        var modal = document.getElementById(id)

        modal.classList.add("d-none")
    }
</script>
{% endblock %}

