{% extends 'jurorsearch/landing_base.html' %}


{% block body_block %}
{% load static %}

  <!-- Masthead -->
  <header class="masthead text-white text-center" style="background: url({% static "images/stock-header.jpg" %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto mb-5">
          <h1 class="mb-5">Accelerate your voir dire research</h1>
          <h3>Juryfind saves hours of scouring the web research by instantaneously gathering data on potential jurors</h3>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row  d-flex justify-content-center">
              <div class="col-12 col-md-3" style="text-align: center">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Learn more</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static "images/results_1.png" %})"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Instantaneous results.</h2>
          <p class="lead mb-0">Press search. See data.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url({% static "images/search_1.png" %})"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Robust search algorithm</h2>
          <p class="lead mb-0">JuryFind finds data with as much or as little information as you provide. Find people with as little as a name and location - or even a single phone number.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static "images/history_1.png" %})"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Easy tracking</h2>
          <p class="lead mb-0">Track and label your jurors in one easy place</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started?</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <!-- <form> -->
            <!-- <div class="form-row"> -->
              <!-- <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div> -->
              <div class="form-row  d-flex justify-content-center">
                <div class="col-12 col-md-6" style="text-align: center">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Schedule a free demo</button>
                </div>
              </div>
            <!-- </div> -->
          <!-- </form> -->
        </div>
      </div>
    </div>
  </section>
{% endblock %}
