<!-- 

<div class="row">
  <div class="col-md-4">
      <img class="img-thumbnail" src="https://graph.facebook.com/v8.0/1523694271/picture?redirect=true&access_token=643286449673767|3BW8OSQfjmlb6EP1fy055lVZ9pE">
  </div>
  <div class="col-md-8">
    <h4 class="mt-0 text-left">Dmitri Mirakyan - 26 </h4>
  </div>
</div> -->
{% if person.status == 400 %}
<div class="media">
  <div class ="media-body">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <p class="mt-1 mb-1"><b>Error: </b>{{ person.error.message }}</p>
    </div>
  </div>
</div>
{% endif %}

{% if person.status == 404 %}
<div class="media">
  <div class ="media-body">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <p class="mt-1 mb-1"><b>Error: </b>{{ person.error.message }}</p>
    </div>
  </div>
</div>
{% endif %}

{% if person.status == 200 %}
<div class="media">
  <img class="img-thumbnail mr-3" src="{{ person.fb_profile }}">
    <div class ="media-body">
      <h6 class="mt-0 text-left">
        {{person.person_full_name}}  
        {% if person.age %}
          - {{ person.age}}
        {% endif %}
      </h6> 
      <p class="text-left font-weight-light text-uppercase mb-0 mt-3"><small>work</small></p>
      <hr class="mt-0 mb-2"/>
      <p class="mt-1 mb-1 text-left">
      {% if person.job_any == 1 %}
        <b>Job:</b>
        {% if person.job_title %}
          {{ person.job_title }}
        {% endif %}
        {% if person.job_company_name %}
          at {{ person.job_company_name }}
        {% endif %}
      {% endif %}
      <!-- <b>Job:</b> job_title at <a href="opendoor.com"> job_company_name </a> -->
      </p>
      {% if person.industry %}
      <p class="mt-1 mb-1 text-left">
        <b>Industry:</b> {{ person.industry }}
      </p>
      {% endif %}
    </div>
</div>
<div class="row>">
    <p class="text-left font-weight-light text-uppercase mb-0 mt-4"><small>education</small></p>
    <hr class="mt-0 mb-2"/>
    <!-- <p class="mt-1 mb-1 text-left">degrees - majors</p>
    <p class="mt-1 mb-1 text-left">GPA: 1.0</p> -->
    <div class="row mt-3">
      {% if person.school_name_1 %}
      <div class="col">
        {% if person.school_name_1 %}
          <p class="mt-1 mb-1 text-left">{{ person.school_name_1 }}</a></p>
        {% endif %}
        {% if person.school_start1 %}
          <p class="mt-1 mb-1 text-left"> {{ person.school_start1 }} - {{ person.school_stop1 }}</p>
        {% endif %}
        {% if person.school_degree1 %}
        <p class="mt-1 mb-1 text-left"> {{ person.school_degree1 }}, {{ person.school_major1 }}</p>
        {% endif %}
        {% if person.school_gpa_1 %}
        <p class="mt-1 mb-1 text-left"> GPA: {{ person.school_gpa_1}}</p>
        {% endif %}
      </div>
      {% endif %}

      {% if person.school_name_2 %}
      <div class="col">
        {% if person.school_name_2 %}
          <p class="mt-1 mb-1 text-left">{{ person.school_name_2 }}</a></p>
        {% endif %}
        {% if person.school_start2 %}
          <p class="mt-1 mb-1 text-left"> {{ person.school_start2 }} - {{ person.school_stop2 }}</p>
        {% endif %}
        {% if person.school_degree2 %}
        <p class="mt-1 mb-1 text-left"> {{ person.school_degree2 }}, {{ person.school_major2 }}</p>
        {% endif %}
        {% if person.school_gpa_2 %}
        <p class="mt-1 mb-1 text-left"> GPA: {{ person.school_gpa_2}}</p>
        {% endif %}
      </div>
      {% endif %}

      {% if person.school_name_3 %}
      <div class="col">
        {% if person.school_name_3 %}
          <p class="mt-1 mb-1 text-left">{{ person.school_name_3 }}</a></p>
        {% endif %}
        {% if person.school_start3 %}
          <p class="mt-1 mb-1 text-left"> {{ person.school_start3 }} - {{ person.school_stop3 }}</p>
        {% endif %}
        {% if person.school_degree3 %}
        <p class="mt-1 mb-1 text-left"> {{ person.school_degree3 }}, {{ person.school_major3 }}</p>
        {% endif %}
        {% if person.school_gpa_3 %}
        <p class="mt-1 mb-1 text-left"> GPA: {{ person.school_gpa_3 }}</p>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% if person.social_media_counter > 0 %}
    <p class="text-left  font-weight-light text-uppercase mb-0 mt-2"><small>social media</small></p>
    <hr class="mt-0 mb-2"/>
    <div class="text-left">
      {% if person.facebook_url %}
        <a class="btn btn-primary" href="https://www.{{ person.facebook_url }}" role="button"><i class="fab fa-facebook-f"></i></a>
      {% endif %}
      {% if person.linkedin_url %}
      <a class="btn btn-primary" href="https://www.{{ person.linkedin_url }}" role="button"><i class="fab fa-linkedin-in"></i></a>
      {% endif %}
      {% if person.twitter_url %}
      <a class="btn btn-primary" href="https://www.{{ person.twitter_url }}" role="button"><i class="fab fa-twitter"></i></a>
      {% endif %}
    </div>
    {% endif %}
    {% if user.is_superuser %}
      <p class="text-left  font-weight-light text-uppercase mb-0 mt-5"><small>parsed data</small></p>
      <hr class="mt-0 mb-2"/>
        <div class="text-left">
          <p class="text-left font-weight-light"><small>
            {{ json_parsed }}
          </small></p>
        </div>
      <p class="text-left  font-weight-light text-uppercase mb-0 mt-5"><small>raw data</small></p>
        <hr class="mt-0 mb-2"/>
        <div class="text-left">
          <p class="text-left font-weight-light"><small>
            {{ json_raw }}
          </small></p>
        </div>
    {% endif %}
  </div>
  {% endif %}




<!-- id - string
full name - string
birth year - string (convert this to age)
location_name - string -->

<!-- social media profiles -->
<!-- linkedin_ulr - string
facebook_url - string
twitter_url - string
 
profiles : array of profiles -->

<!-- work -->
<!-- -job_title
-industry
-job_company_name
-job_company_website -->

<!-- education -->
<!-- - education.school.name 
- education.school.website
- education.degrees -->